<div class="card">
  <div class="card-title"><%= flat.name %></div>
  <div class="card-address"><%= flat.address %></div>
  <div class="description"><%= flat.description %></div>
  <div class="price"><%= flat.price_per_night %></div>
  <div class="guest"><%= flat.number_of_guests %></div>
</div>
